@charset 'utf-8';

*{
    margin: 0;
    padding: 0;
}

#geral{
    width: 100%;
    height: 100%;
    background-color: cadetblue;
    position: absolute;
}

#topo{
    width: 100%;
    height: 20%;
    background-color: silver;
}
#corpo{
    width: 100%;
    height: 70%;
    background-color: steelblue;
}

.filho-corpo{
    float: left;
    width: 33.33%;
    height: 100%;
    background-color: slateblue;
}

#conteudo-principal{
    background-color: tomato;
}

#rodape{
    width: 100%;
    height: 10%;
    background-color: silver;
}

