body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
div{
    background-color: blue;
    width: 30px;
    height: 30px;
}
button{
    margin-top: 20px;
}
#botao{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}