@charset 'utf-8';

*{
    padding: 0%;
    margin: 0%;
    font-family: sans-serif;
}

div{
    width: 90%;
    height: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

div button{
    padding: 10px;
    font-size: 1.1em;
    background-color: tomato;
    border: none;
    border-radius: 5px;
}
div button:hover{
    background-color: #999;
    cursor: pointer;
}